        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        body {
          background-color: black;
          color: white;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .font {
          font-family: 'Times New Roman', Times, serif;
        }

        .bodyContainer {
          display: flex;
          flex-direction: row;
        }

        .left {
          height: 98vh;
          width: 30vw;
          display: flex;
          justify-content: center;
          align-items: center;

        }

        .leftContainer {
          background-color: rgb(23, 23, 23);
          height: 95vh;
          width: 28vw;
          border-radius: 10px;
        }

        .rightContainer {
          background-color: rgb(23, 23, 23);
          height: 95vh;
          width: 69vw;
          border-radius: 10px;
        }

        .right {
          height: 98vh;
          width: 70vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .heading {
          text-align: center;
          font-weight: bolder;
          margin: 5px;
        }

        #form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px;
        }

        form input,
        form select {
          width: 22vw;
          padding: 10px;
          border-radius: 6px;
          border: 1px solid black;
          flex: 1;
          margin: 5px;
          background-color: rgb(45, 43, 43);
          color: grey;
        }

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        form button {
          width: 22vw;
          padding: 10px;
          border-radius: 6px;
          border: 1px solid black;
          flex: 1;
          margin: 5px;
          background-color: blue;
          color: white;
          cursor: pointer;
          font-weight: bolder;
        }

        form button:hover {
          background-color: rgb(33, 33, 210);
        }

        form input::placeholder {
          color: grey;
        }

        .separator {
          height: 2px;
          background-color: green;
        }

        .heading2 {
          margin-top: 20px;
          margin-left: 50px;
          font-weight: bolder;
          font-size: larger;
        }

        .pieBox {
          height: 35vh;
          width: 25vw;
          border: 2px solid rgb(106, 104, 104);
          border-radius: 15px;
          margin: 15px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .pieBox canvas {
          width: 100% !important;
          height: 100% !important;
        }

        .pieChart {
          width: 30vw;
          height: 30vh;
        }

        #transaction-list {
          list-style: auto;
        }

        #transaction-table {
          max-width: 30vw;
          border-collapse: collapse;
          margin-top: 15px;
          margin: 15px;
          font-size: 14px;
          display: block;
        }

        .table {
          max-height: 75vh;
          overflow-y: auto;
          overflow-x: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;
        }


        #transaction-table th,
        #transaction-table td {
          padding: 10px;
          border: 1px solid rgb(81, 78, 78);
          text-align: center;
        }

        #transaction-table th {
          background-color: black;
        }

        #transaction-table tr:nth-child(even) {
          background-color: rgb(28, 28, 28);
        }

        #transaction-table tr td strong.income {
          color: greenyellow;
        }

        #transaction-table tr td strong.expense {
          color: red;
        }

        .totals {
          width: 60vw;
          height: 8vh;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 15px auto;
          background: rgb(47, 46, 49);
          color: rgb(255, 255, 255);
          border-radius:100px;
          font-weight: bolder;
          font-size: larger;
          letter-spacing: 1px;
        }

        #total-income {
          color: rgb(94, 255, 0);
        }

        #total-expenses {
          color: red;
        }

        #balance {
          color: rgb(0, 217, 255);
        }
        .barBox {
          height: 55vh;
          width: 30vw;
          border: 2px solid rgb(106, 104, 104);
          border-radius: 15px;
          margin: 15px;
          margin-top: 80px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .barBox canvas {
          width: 100% !important;
          height: 100% !important;
        }

        .barChart {
          width: 30vw;
          height: 45vh;
        }


        .delete-btn {
          padding: 5px 5px;
          background-color: black;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          transition: 0.3s;
        }

        .delete-btn:hover {
          background-color: red;
        }

        .boxes {
          display: flex;
          justify-content: space-evenly;
        }

        .exportBtn {
          display: flex;
          justify-content: space-evenly;
        }

        .exportBtn button {
          background-color: violet;
          padding: 5px 15px;
          border-radius: 65px 15px;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        .exportBtn button:hover {
          box-shadow: 0px 4px 10px rgba(101, 101, 103, 0.3);
          transform: translateY(-1px);
        }


        @media (max-width: 600px) {
          .bodyContainer {
            flex-direction: column;
          }

          .boxes {
            flex-direction: column;
          }

          .boxes>#barSection {
            order: 1;
          }

          .boxes>div {
            order: 2;
          }

          #formSection {
            order: 1;
          }

          #totalSection {
            order: 2;
          }

          #pieSection {
            order: 3;
          }

          #barSection {
            order: 4;
          }

          #tableSection {
            order: 5;
          }

          .left,
          .right {
            width: 100%;
            height: auto;
          }

          .leftContainer,
          .rightContainer {
            width: 95vw;
            height: auto;
            margin: 10px auto;
          }

          form input,
          form select,
          form button {
            width: 90vw;
          }

          .pieBox,
          .barBox {
            width: 90vw;
            height: auto;
          }

          .pieChart,
          .barChart {
            width: 100% !important;
            height: auto !important;
          }

          .pieBox canvas,
          .barBox canvas {
            width: 100% !important;
            height: auto !important;
          }
          .barBox {
            margin-top: 10px;
            margin-bottom: 30px;
          }

          .totals {
            width: 90vw;
            flex-direction: column;
            font-size: medium;
          }

          #transaction-table {
            max-width: 100%;
            display: block;
            overflow-x: auto;
          }
        }

        